@page "/servicios"
@rendermode InteractiveServer
@inject IRepositorioServicios Repositorio
@inject NavigationManager Navigation
<PageTitle>Servicios</PageTitle>
<h3>Listado de servicios</h3>
<button class="btn btn-primary mb-3" @onclick="@(() => Navigation.NavigateTo("/servicios/nuevo"))">Nuevo servicio</button>

@if (_servicios == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_servicios.Count == 0)
{
    <div class="alert alert-info">
        <h2>No se encuentran registrados servicios</h2>
    </div>
}
else
{
    <QuickGrid Items="_servicios.AsQueryable()" Class="table table-striped" Pagination="_paginationState">
        <PropertyColumn Property="@(s => s.Nombre)" Sortable="true" />
        <PropertyColumn Property="@(s => s.PrecioUnitario)" Title="Precio unitario" />
        <TemplateColumn Title="Acciones">
            <button class="btn btn-outline-secondary" @onclick="@(() => Eliminar(context))">Eliminar</button>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="_paginationState" />
}

@code {
    private List<Servicio>? _servicios;
    private PaginationState _paginationState = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        _servicios = await Repositorio.ObtenerServicios();
    }

    private async Task Eliminar(Servicio servicio)
    {
        await Repositorio.EliminarServicio(servicio.Id);
        _servicios = await Repositorio.ObtenerServicios();
    }
}
